@namespace BlazorUI

<CascadingAuthenticationState>
    <Services />
    <WindowResize @ref="@windowResize" HeaderHeight="@headerHeight" MaxWidth="@maxWidth">
        <Router AppAssembly="@typeof(Main).Assembly">
            <Found Context="routeData">
                <WindowFade FadeDuration="250">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </WindowFade>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        </WindowResize>
</CascadingAuthenticationState>
@code {
    private int headerHeight = 32;
    private int maxWidth = 1000;
    WindowResize? windowResize;


}